# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
temp* 
config.yaml

# Logs and outputs from your tool
nccfiles/
outputfiles/
logs/
dist/
k8s/configmap.yaml
k8s/secret.yaml

# Prometheus metrics
promfiles/
